<div class="container">
    <ng-container *ngIf="this.taskService.tasks[this.taskService.currentInteractable]?.type ==
    'input'
    ">
        <div class="input" *ngFor="let task of [this.taskService.tasks[this.taskService.currentInteractable]]">
            <div class="taskdescription">
                {{task.description}}
            </div>
            <div class="taskContent">
                <img class="figure" *ngIf="this.taskService.tasks[this.taskService.currentInteractable].image !== ''" src={{task.image}} />
                <div class="userinteraction">
                    <p *ngFor="let input of task.inputs">
                        {{input.variable | convertToDoubleSpace:"~"|convertToSpace:"¨"}} = <input class="inputText" type="text" id={{input.variable}} />{{input.unit}}
                    </p>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="this.taskService.tasks[this.taskService.currentInteractable]?.type ==
    'slider'
    ">
        <div class="slider" *ngFor="let task of [this.taskService.tasks[this.taskService.currentInteractable]]">
            <div class="taskdescription">
                {{task.description}}
            </div>
            <div class="taskContent">
                <img class="figure" *ngIf="this.taskService.tasks[this.taskService.currentInteractable].image !== ''" src={{task.image}} />
                <div class="userinteraction">
                    <p *ngFor="let input of task.inputs">
                        {{input.variable}} = <input type="range" min={{input.min}} max={{input.max}} step={{input.step}} id={{input.variable}} [(ngModel)]="sliderValue"/>{{sliderValue}}{{input.unit}}
                    </p>
                
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="this.taskService.tasks[this.taskService.currentInteractable]?.type ==
    'checkbox'
    ">  
        <div class="checkbox" *ngFor="let task of [this.taskService.tasks[this.taskService.currentInteractable]]">
            <div class="taskdescription">
                {{task.description}}
            </div>
                <!-- <img class="figure" *ngIf="this.taskService.tasks[this.taskService.currentInteractable].image !== ''" src={{task.image}} /> -->
                <div class="userinteraction">
                    <p *ngFor="let input of task.inputs">
                        <input type="checkbox" id={{input.variable}} /> {{input.display}} <img *ngIf="input.picture !==''" src={{input.picture}} />
                    </p>
                
                </div>
            
        </div>
    </ng-container>

    <ng-container *ngIf="this.taskService.theories[this.taskService.currentInteractable]?.type ==
    'book'
    ">  
    
        <div *ngFor="let theory of [this.taskService.theories[this.taskService.currentInteractable]]">
            <div class=""theorytitle>
                {{theory.title}}
                <iframe class="docuView" [src]="getTrustedUrl(theory?.doc)" ></iframe>  
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="this.taskService.theories[this.taskService.currentInteractable]?.type ==
    'demo'
    ">  
        <p>demo theory working</p>
        <div *ngFor="let theory of [this.taskService.theories[this.taskService.currentInteractable]]">
            <div class=""theorytitle>
                {{theory.title}}
            </div>
        </div>
    </ng-container>

</div>