* {
  font-size: 26px;
}

.container {
  width: 93%;
  height: 93%;
  margin-left: 50px;
  margin-top: 50px;
  color: white;
}
img {
  border: 2px solid rgba(255, 255, 255, 0.35);
}
.figure {
  height: 100%;
  margin-right: 15px;
  margin-top: 15px;
}

input[type="text"] {
  width: 140px;
}
input[type="range"] {
  width: 200px;
}

.theoryContent {
  display: flex;
  flex-direction: row;
  margin: 7px 0px;
}

.taskContent {
  display: flex;
  flex-direction: row;
}

.userinteraction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
}
.userinteraction > p {
  max-height: 20%;
}

.docuView {
  height: 510px;
  width: 1145px;
  margin-top: 12px;
}

.rectangle1,
.rectangle2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-color: #201f1e;
  text-align: center;
  font-size: 18px;
}

.rectangle1 {
  margin-right: 10px;
}

.rectangle2 {
  margin-left: 10px;
  margin-right: 10px;
}
.demomonstration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  margin-left: 60px;

  .rectangles {
    display: flex;
    align-items: center;
    margin-left: 50px;

    p {
      left: 55px;
      position: absolute;
    }
  }
  .divider {
    margin-left: 3px;
    border-style: dashed;
    border-width: 1px;
    z-index: -2;
    position: absolute;
  }
  .output {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    margin-right: 87px;
    margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
  }
}

.interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .formula {
    font-size: 40px;
    margin-right: 90px;
  }
}
