<div class="canvas">
    <canvas #mycanvas id="myCanvas" width="1500" height="800"></canvas>
    <a class="mapbtn" (click)="toggleMap()"> 
        <img src="../assets/interface/map-icon.png" alt="Map Icon"> </a>
    <a class="taskListbtn" (click)="toggleTaskList()"> <img src="../assets/interface/taskList-icon.png" alt="Task Icon"> </a>
    <!-- <a (click)="myTypeScriptFunction()"> <img src="url-to-my-image"/></a> -->  
</div>

<ng-container *ngIf="modalVisible">
    
    <div [ngClass]="{'taskContainer': true, 'show': modalVisible, 'correctAnswer': correctAnswerSubmitted, 'wrongAnswer': wrongAnswerSubmitted}">
            <app-modal></app-modal>   
            <button class="modalClose" (click)="closeModal()">[ x ]</button>
            <div *ngIf="newestTask">
                <button class="submit" (click)="submitTask()"><span>Submit</span></button>
            </div>
        </div>
    
</ng-container>

<ng-container *ngIf="mapVisible">
    <div class="map" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <img src="../assets/Rbygghighres.png" alt="Map"> <!-- Optimize image resolution for loading -->
        <!-- Map: Paper fold effect -->
        <div>
        <span class="folds main">
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
          </span>
          
          <span class="folds vertical">
            <span class="cell vertical-1"></span>
            <span class="cell vertical-2"></span>
            <span class="cell vertical-3"></span>
            <span class="cell vertical-4"></span>
            <span class="cell vertical-5"></span>
          </span> 
          
          <span class="folds horizontal">
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
          </span>
        </div>
    </div>
    
</ng-container>

<ng-container *ngIf="taskListVisible">
    <div class="taskList" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <div class="taskListContent">
            <p>Tasklist:</p>
            <div class="" *ngFor="let task of this.taskService.currentTask">
                <div class="" *ngFor="let loc of [this.taskService.tasks[task]]">
                    <p> &nbsp; ‣ {{task | convertToBlank:"-"}} : {{loc.location}}</p>
                </div>    
            </div>
        </div>
    </div>
</ng-container>