<!-- Game -->

<!-- Add background on canvas (behind the map) AND off canvas -->

<div class="canvas">
    <canvas #mycanvas id="myCanvas" width="1500" height="800"></canvas>
    <a class="backbtn" (click)="toggleNavigationBack()"> 
        <img src="../assets/interface/backArrow-icon.png" alt="Back Icon"> </a>
    <a class="infoIbtn" (click)="toggleInfoObjectives()"> 
        <img src="../assets/interface/information-icon.png" alt="Info Icon"> </a>
    <a class="infoQbtn" (click)="toggleInfoControls()"> 
        <img src="../assets/interface/question-icon.png" alt="Info Icon"> </a>
    <a class="mapbtn" (click)="toggleMap()"> 
        <img src="../assets/interface/map-icon.png" alt="Map Icon"> </a>
    <a class="taskListbtn" (click)="toggleTaskList()"> <img src="../assets/interface/taskList-icon.png" alt="Task Icon"> </a>
</div>

<ng-container *ngIf="modalVisible">   
    <div [ngClass]="{'taskContainer': true, 'show': modalVisible, 'correctAnswer': correctAnswerSubmitted, 'wrongAnswer': wrongAnswerSubmitted}">
            <app-modal></app-modal>   
            <button class="modalClose" (click)="closeModal()">[ x ]</button>
            <div *ngIf="newestTask">
                <button class="submit" (click)="submitTask()"><span>Submit</span></button>
            </div>
        </div>
</ng-container>

<!-- Interface -->
<ng-container>
    <div class="map" [ngStyle]="{'display': mapVisible ? 'block' : 'none', 'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <img src="../assets/RByggStations.png" alt="Map"> <!-- Optimize image resolution for loading -->
        <!-- Map: Paper fold effect -->
        <div>
        <span class="folds main">
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
          </span>
          
          <span class="folds vertical">
            <span class="cell vertical-1"></span>
            <span class="cell vertical-2"></span>
            <span class="cell vertical-3"></span>
            <span class="cell vertical-4"></span>
            <span class="cell vertical-5"></span>
          </span> 
          
          <span class="folds horizontal">
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
          </span>
        </div>
    </div>
    
</ng-container>

<ng-container *ngIf="taskListVisible">
    <div class="taskList" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <div class="taskListContent">
            <p>Tasklist:</p>
            <div class="" *ngFor="let task of this.taskService.currentTask">
                <div class="" *ngFor="let loc of [this.taskService.tasks[task]]">
                    <p> &nbsp; ‣ {{task | convertToBlank:"-"}} : {{loc.location}}</p>
                </div>    
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="infoObjectives">
    <div class="info-popup I" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <div class="info-content"> 
            <p> <strong> Game Objectives </strong>
                <br><br> Our world is filled with many difficult challenges that we have to face. With your help, we can shape the future. It's up to you to embark on a heroic mission to save humanity. Find the mission of this level and solve its task to save the world.
                <br><br> Explore the campus and uncover hidden clues to unravel the mystery behind the impending disaster. During your journey, you will encounter multiple obstacles and challenges. You will have to solve many fun and cozy tasks to be able to progress.
                <br><br> Use your amazing skills in analysis and calculation to defeat any problems. Maybe you will use the legendary items, pen and paper, to assist you in this adventure?
                <br><br> Navigate this wonderful game design with the help of the map and task list.
                <br><br> It might be a good idea to take a look at the controls before you start.
                <br><br> Good luck!
                <br><br> Best regards,
                <br> <em>Jimmy the cool</em> </p>
        </div> 
    </div>
</ng-container>

<ng-container *ngIf="infoControls">
    <div class="info-popup Q" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">
        <button class="modalClose" (click)="closeModal()">[ x ]</button>
        <div class="info-content"> 
            <p> <strong> Game Controls </strong>
                <br><br> As an aspiring engineering student, you must have full control of the controls to navigate through the challenges and save the day. Here are the controls you need to know:
                <br><br> Use the arrow keys or 'w' 'a' 's' 'd' to move around the campus and explore different areas. Be cautious of obstacles and tricky pathways.
                <br><br> Use the spacebar to interact with objects and gather important information. Pay attention to every detail, as it might hold the key to solving the mission.
                <br><br> Sharpen your analytical skills and use the enter key to submit your answers to the tasks. In times of danger you might want to use the escape key to escape the tasks. Show off your problem-solving abilities and prove your engineering prowess.
                <br><br> Now that you know the controls, it's time to embark on this thrilling adventure. 
                <br><br> Best of luck, and may your engineering skills shine bright!
                <br><br> Engineering regards,
                <br> <em>Jimmy the wise</em> </p>
        </div> 
    </div>
</ng-container>

<ng-container *ngIf="backNavigation">
    <div class="back-popup">
        <div class="popup-content">
          <h2>Are you sure you want to leave this level and go back to the lobby?</h2>
          <p>You will lose all progress if you proceed to the lobby.</p>
          <button class="btn no" (click)="toggleNavigationBack()"><span>No, stay</span></button>
          <button class="btn yes"(click)="navigateToHome()"><span>Yes, leave</span></button>
        </div>
    </div>
</ng-container>

<!-- Victory -->

<ng-container *ngIf="victory">
    <div class="win-popup">
        <div class="popup-content">
          <h2>Mission Completed!</h2>
          <p>You have solved all tasks and saved the planet. Knowledge for a better world!</p>
          <img src="../assets/thumbsup.gif" alt="congratulations GIF">
        </div>
      </div>
</ng-container>
