.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 800px;
  transform: translate(-50%, -50%);
  border: 6px solid white;
  border-radius: 20px;
}

.taskContainer {
  width: 1250px;
  height: 650px;
  outline: 8px solid rgb(215, 215, 215, 0.5);
  outline-offset: -20px;
  background-color: #201f1e;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.submit {
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 75px;
  height: 30px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.3s;
  background-color: white;
  color: black;
  box-shadow: 2px 3px #00000033;
  z-index: 15;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 10px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}

@mixin glowAnimation($color1, $color2, $color3, $animationName) {
  @keyframes #{$animationName} {
    0% {
      box-shadow: 0 0 17px $color1;
    }
    50% {
      box-shadow: 0 0 30px $color2;
    }
    100% {
      box-shadow: 0 0 17px $color3;
    }
  }
}

.correctAnswer {
  @include glowAnimation(rgb(0, 247, 0), green, rgb(0, 167, 0), glowCorrect);
  animation: glowCorrect 0.7s ease-in-out;
}

.wrongAnswer {
  @include glowAnimation(red, rgb(255, 94, 0), red, glowWrong);
  animation: glowWrong 0.5s ease-in-out;
}

.modalClose {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.3s;
  background-color: #ffffff;
  font-weight: bold;
  color: black;
  box-shadow: 2px 3px #00000033;
  z-index: 15;
}

.modalClose:hover {
  transform: scale(1.1);
  box-shadow: 0 0 rgb(0, 0, 0);
}

/* Popups*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.win-popup {
  @extend .popup;
  opacity: 0;
  animation: fadeIn 1s ease forwards 2s; /* Play animation after 2s delay */
}

.back-popup {
  @extend .popup;

  .btn {
    width: 120px;
    height: 30px;
    margin: 0px 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 3px #00000033;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.4s;

    &.no {
      background-color: rgb(23, 159, 23);

      &:hover {
        color: white;
        background-color: rgb(6, 59, 6);
      }
    }

    &.yes {
      background-color: rgb(222, 41, 41);

      &:hover {
        color: white;
        background-color: rgb(77, 7, 7);
      }
    }
  }
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: #016fb9;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

.info-popup {
  width: 1118px;
  height: 720px;
  outline: 8px solid rgb(255 212 0 / 60%);
  outline-offset: -20px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px);
  background-size: 100px 69px, 70px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  z-index: 5;

  &.I {
    background-color: #681553;
  }
  &.Q {
    background-color: #0d35a7;
  }
}

.info-content {
  font-size: 26px;
  width: 91%;
  height: 93%;
  margin-left: 50px;
  margin-top: 45px;
  color: white;
}

.map {
  box-sizing: border-box;
  outline: 8px solid #a3480759;
  outline-offset: -20px;
  width: 1030px;
  height: 700px;
  /* background: linear-gradient(45deg, #ddb132, #c39239); */
  background-color: #efc06c;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.65) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.45) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0) 1px, transparent 1px);
  background-size: 120px 120px, 120px 120px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: opacity 0.5s ease-in-out;
}
.map > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}

.taskList {
  width: 400px;
  height: 400px;
  outline: 8px solid rgba(255, 255, 255, 0.5);
  outline-offset: -20px;
  background-color: rgb(219 222 191);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: opacity 0.5s ease-in-out;
  background-image: linear-gradient(#ffffff 1.4px, transparent 0px);
  background-size: 100% 2em;
  background-position-y: 4.25rem;
  line-height: 1.8em;
  font-size: 22px;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #ff000066;
    left: 2em;
    z-index: 20;
  }
}
.taskListContent {
  margin-left: 3.2rem;
}

.backbtn {
  position: absolute;
  top: 50px;
  left: 50px;
}
.infoIbtn {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.infoQbtn {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.mapbtn {
  position: absolute;
  top: 150px;
  right: 50px;
}
.taskListbtn {
  position: absolute;
  top: 50px;
  right: 50px;
}

.infoIbtn img,
.infoQbtn img,
.backbtn img,
.mapbtn img,
.taskListbtn img {
  width: 60px;
  height: 60px;
  transition: 0.3s;
}
.infoIbtn img:hover,
.infoQbtn img:hover,
.backbtn img:hover,
.mapbtn img:hover,
.taskListbtn img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 rgb(0, 0, 0);
}

/* Map: Paper fold effect */
span.folds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
span.cell {
  border: 0px solid rgba(30, 10, 60, 0.4);
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
span.main {
  visibility: visible;
  filter: opacity(1);
}
span.main-1 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.2) 0%,
    rgba(76, 53, 73, 0.1) 100%
  );
}
span.main-2 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.04) 0%,
    rgba(76, 53, 73, 0) 100%
  );
}
span.vertical {
  visibility: visible;
  filter: opacity(1);
}
span.vertical-1 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.08) 0%,
    rgba(76, 53, 73, 0.02) 20%,
    rgba(76, 53, 73, 0) 60%,
    rgba(76, 53, 73, 0.16) 94%,
    rgba(76, 53, 73, 0.1) 98%,
    rgba(76, 53, 73, 0.06) 100%
  );
}
span.vertical-2 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.06) 0%,
    rgba(76, 53, 73, 0.1) 2%,
    rgba(76, 53, 73, 0.16) 6%,
    rgba(76, 53, 73, 0) 40%,
    rgba(76, 53, 73, 0.02) 100%
  );
}
span.vertical-3 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.3) 0%,
    rgba(76, 53, 73, 0.24) 2%,
    rgba(76, 53, 73, 0.15) 5%,
    rgba(76, 53, 73, 0) 28%,
    rgba(76, 53, 73, 0) 60%,
    rgba(76, 53, 73, 0.16) 94%,
    rgba(76, 53, 73, 0.1) 98%,
    rgba(76, 53, 73, 0.06) 100%
  );
}
span.vertical-4 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.06) 0%,
    rgba(76, 53, 73, 0.1) 2%,
    rgba(76, 53, 73, 0.16) 6%,
    rgba(76, 53, 73, 0) 40%,
    rgba(76, 53, 73, 0.02) 100%
  );
}
span.vertical-5 {
  background-image: linear-gradient(
    to right,
    rgba(76, 53, 73, 0.3) 0%,
    rgba(76, 53, 73, 0.24) 2%,
    rgba(76, 53, 73, 0.15) 5%,
    rgba(76, 53, 73, 0) 28%,
    rgba(76, 53, 73, 0.02) 100%
  );
}
span.horizontal {
  visibility: visible;
  filter: opacity(1);
}
span.horizontal-1 {
  background-image: linear-gradient(
    to bottom,
    rgba(76, 53, 73, 0.02) 0%,
    rgba(76, 53, 73, 0) 72%,
    rgba(76, 53, 73, 0.15) 95%,
    rgba(76, 53, 73, 0.24) 100%
  );
}
span.horizontal-2 {
  background-image: linear-gradient(
    to bottom,
    rgba(76, 53, 73, 0.02) 0%,
    rgba(76, 53, 73, 0) 60%,
    rgba(76, 53, 73, 0.22) 96%,
    rgba(76, 53, 73, 0.08) 100%
  );
}
span.horizontal-3 {
  background-image: linear-gradient(
    to top,
    rgba(76, 53, 73, 0.08) 0%,
    rgba(76, 53, 73, 0) 40%,
    rgba(76, 53, 73, 0.14) 100%
  );
}
span.horizontal-4 {
  background-image: linear-gradient(
    to top,
    rgba(76, 53, 73, 0.02) 0%,
    rgba(76, 53, 73, 0) 60%,
    rgba(76, 53, 73, 0.18) 94%,
    rgba(76, 53, 73, 0.02) 100%
  );
}
