<div class="canvas">
    <canvas #mycanvas id="myCanvas" width="1500" height="800"></canvas>
    <a class="mapbtn" (click)="toggleMap()"> M </a>
    <a class="taskListbtn" (click)="toggleTaskList()"> T </a>
    <!-- <a (click)="myTypeScriptFunction()"> <img src="url-to-my-image"/></a> -->  
</div>

<ng-container *ngIf="modalVisible">
    <div class="taskContainer">
        <app-modal></app-modal>   
        <button class="modalClose" (click)="closeModal()">[ X ]</button>
        <button class="submit" (click)="submitTask()"><span>Submit</span></button>
    </div>
</ng-container>

<ng-container *ngIf="mapVisible">
    <div class="map" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ X ]</button>
        <img src="../assets/Rbygghighres.png" alt="Map">
        <!-- Map: Paper fold effect -->
        <div>
        <span class="folds main">
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
            <span class="cell main-2"></span>
            <span class="cell main-1"></span>
          </span>
          
          <span class="folds vertical">
            <span class="cell vertical-1"></span>
            <span class="cell vertical-2"></span>
            <span class="cell vertical-3"></span>
            <span class="cell vertical-4"></span>
            <span class="cell vertical-5"></span>
          </span> 
          
          <span class="folds horizontal">
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-2"></span>
            <span class="cell horizontal-1"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
            <span class="cell horizontal-4"></span>
            <span class="cell horizontal-3"></span>
          </span>
        </div>
    </div>
    
</ng-container>

<ng-container *ngIf="taskListVisible">
    <div class="taskList" [ngStyle]="{'opacity': opacityToggler ? '0.3' : '1'}">   
        <button class="modalClose" (click)="closeModal()">[ X ]</button>
        <p>Tasklist:</p>
        <div class="" *ngFor="let task of this.taskService.currentTask">
            <div class="" *ngFor="let loc of [this.taskService.tasks[task]]">
                <p> - {{task | convertToSpaces:"-"}} : {{loc.location}}</p>
            </div>    
        </div>
    </div>
</ng-container>