<div class="lobby-container">
  <div class="lobby-card">
    <img src="../assets/gameLogo.png" alt="Logo">
    <h1>Designer's Den</h1>
    <div class="lobby-levels">
      <a routerLink="/levelOne"  (mouseover)="buttonHoverSound()" (mousedown)="buttonClickSound()">Level 1 (Mechanics 1)</a>
      <a routerLink="/levelTwo"  (mouseover)="buttonHoverSound()" (mousedown)="buttonClickSound()">Level 2 (Mechanics 2)</a>
      <a routerLink="/levelThree"(mouseover)="buttonHoverSound()" (mousedown)="buttonClickSound()">Level 3 (Mechanics 3)</a>
      <a routerLink="/levelFour" (mouseover)="buttonHoverSound()" (mousedown)="buttonClickSound()">Level 4 (Mechanics 4)</a>
      <a routerLink="/highscore" (mouseover)="buttonHoverSound()" (mousedown)="buttonClickSound()"class="highscore">Highscores</a>
    </div>
  </div>
</div>
